@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Megan's Blog</h2>



<p>@Html.ActionLink("View all Posts", "Index", "Posts")</p>
<p>@Html.ActionLink("View all Categories", "Index", "Categories")</p>
