@*@{
    ViewData["Title"] = "Megan's Blog - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

@model MegansBlog.Models.Post


<h2>Create</h2>
<hr />
<h4>Add a new post</h4>

<form method="post" asp-action="Create" asp-controller="Posts" enctype="multipart/form-data">
    <input type="file" name="files" multiple />
    <br />
    <p>Title:</p>
    <input name="Title" />
    <input name="Body" />
    @Html.LabelFor(model => model.CategoryId)
    @Html.DropDownList("CategoryId")
    <input type="submit" value="Upload" />
</form>

<p>@Html.ActionLink("Back to list", "Index")</p>
