@model MegansBlog.Models.Post

<html>
<head>
    <title>Megan's Blog - Delete</title>
</head>
<body>

    <h2>Are you sure you want to delete this?</h2>
    <hr />
    @Html.DisplayFor(model => model.Title)
    @using (Html.BeginForm())
    {
        <input type="submit" value="Delete" />
    }
    @Html.ActionLink("Back to List", "Index")
</body>
</html>