@{
    ViewData["Title"] = "Megan's Blog - Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MegansBlog.Models.Category

    <h2>Are you sure you want to delete this category?</h2>
    <hr />
    @Html.DisplayFor(model => model.Name)
    @using (Html.BeginForm())
    {
        <input type="submit" value="Delete" />
    }
    @Html.ActionLink("Back to List", "Index")
html>