@{
    ViewData["Title"] = "Megan's Blog - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MegansBlog.Models.Category

<h2>Details</h2>
<hr />
Category: @Html.DisplayFor(model => model.Name)
<p>@Html.ActionLink("Back to list", "Index")</p>
