@{
    ViewData["Title"] = "Megan's Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<MegansBlog.Models.Category>

<h2>Megan's Blog</h2>
<h4>Categories:</h4>
<ul>
    @foreach (var listCategory in Model)
    {
        <li>@Html.DisplayFor(modelItem => listCategory.Name)</li>
    }
</ul>
<p>@Html.ActionLink("Add new category", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
