<html>
<head>
    <title>Megan's Blog</title>
</head>
<body>
    <h2>Welcome to Megan's Blog</h2>
    <p>@Html.ActionLink("View all Posts", "Index", "Posts")</p>
    <p>@Html.ActionLink("View all Categories", "index", "Categories")</p>
</body>
</html>